---
const { title, bgImage } = Astro.props;

---
<header style={{ backgroundImage: `url(${bgImage})` }}>
    <nav>
        <img class="logo" src="src/assets/icons/logo.png" alt="">
        <ul>
            <li>
                <a href="/">Forside</a>
            </li>
            <li>
                <a href="/tjenester">Tjenester</a>
            </li>
            <li>
                <a href="/traenere">Trænere</a>
            </li>
            <li>
                <a href="/priser">Priser</a>
            </li>
            <li>
                <a href="/om-os">Om os</a>
            </li>
            <li>
                <a href="/kontakt">Kontakt</a>
            </li>
            <li>
                <a id="auth-link" href="/login">Login</a>
            </li>
        </ul>
    </nav>
    <h1>{title}</h1>
</header>

<style>
    header {
        width: auto;
        height: 573px;
        min-height: 300px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-color: #333; 
    }
    nav {
        display: flex;
        justify-content: flex-end;
        padding: 20px;
        justify-content: space-between;
    }
    ul{
        display: flex;
        gap: 3rem;
        padding: 1rem;
    }
    a {
        color: white;
        font-size: 1.2rem;
        padding: 0.5rem;
        &:hover{
            color: var(--orange);
        }
    }
    h1{
        color: white;
        font-size: 130pt;
        text-align: center;
    }
</style>

<script>
import { logOut } from '../lib/api';
import * as R from 'ramda';

    const initAuth = () => {
        const authLink = document.getElementById('auth-link') as HTMLAnchorElement;
        if (!authLink) return;
    
        const token = sessionStorage.getItem('auth_token');
        
        const isLoggedIn = R.allPass([
            R.complement(R.isNil),
            R.complement(R.isEmpty)
        ])(token);

        if (isLoggedIn) {
            authLink.textContent = 'LOG OUT';
            authLink.href = '#';
            authLink.addEventListener('click', (e) => {
                e.preventDefault();
                logOut();
            })
        }
    }
    initAuth();
</script>