<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<script src="/src/lib/api.ts"></script>
		<link rel="stylesheet" href="/src/lib/base.css">
		<title>Astro Basics</title>
	</head>
	<body>
		<slot />
	</body>
</html>